---
import tech from "../../jsons/technologies.json";
import CardTechnology from "./CardTechnology.astro";

---

<div class="grid grid-cols-3 m-5" id="containerCards">
  {
    tech.map((tech) => (
      <CardTechnology
        id={tech.id}
        name={tech.name}
        description={tech.description}
        logo={tech.logo}
        hoverColor={tech.hoverColor}
        link={tech.link || ""}
      />
    ))
  }
</div>